* ,::after, ::before{
    box-sizing: border-box;
}
body, html {
    font-family: 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #333333;
    background: #ffffff;
    font-size: 14px;
    overflow-x: hidden;
    
}
#header-bottom{
    height: 101.96px;
    background: #2e9ed5;
    padding: 1.42857em 0;
    color: #ffffff;
    
}
.header-bottom-logo img{
    padding: 5px 0px;
    margin-left: 100px;
    float:left;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
 
  }
  input:focus {
  border: none;
}
  
  input[type="text"] {
    height: 2.85714em;
    padding-left: 3.42857em;
    border-top-left-radius: 0.21429em;
    border-bottom-left-radius: 0.21429em;
    font-style: italic;
    border: 0;
    width: 370px;
    border-radius: 4px;
    
  }
  button[type="submit"] {
    position: absolute;
    left: 0.71429em;
    top: 0.57143em;
    z-index: 3;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .icon-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    width: 40px;
    height: 30px;
    background-image: url('img/tải\ xuống.png');
    background-size: cover;
  }
 .hotline_number {
    
    float: left;
    vertical-align: middle;
    padding-left: 40px;
    
 }
.hotline_number .hotline-link {
    font-size: 2.54286em;
    font-weight: bold;
    font-style: italic;
    color: #FEC519;
    line-height: 0.66667em;
    text-decoration: none;
}
 .hotline_shipping {
    padding-left: 30px;
    float: left;
}
.taikhoan{
    float: left;
    padding-left: 30px;
    width: 100px;
   
}

#giohang{
    float: left;
    padding-left: 20px;
    position: relative;
} 
.cart{
    position: absolute;
    background: red;
    color: #fff;
    padding: 0.18182em 0.72727em;
    font-size: 0.78571em;
    right: 0;
    border-radius: 0.36364em;
    top: 0;
}
#sub_menu{
    padding-left: 100px;
    padding-top: 10px;
    height: 42px;
    background-color: rgb(242, 245, 247);
    margin-top: 0px;
}
#contain_card{
    height: 560px;
    width: 1345px;
    max-width: 1345px !important;
    width: 1345px !important;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    height: 560px;
    width: 1345px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;
}
.ccnt{
    height: 560px;
    width: 1345px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.justify-content_centre{
    height: 560px;
    width: 1345px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;
}
.titile_cart{
    height: 61px;
    width: 1345px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.titile_cart h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0px 0 20px;
    line-height: 1.2;
    font-weight: 700;
    display: block!important;
}
.ContentCart-deatail{
    height: 497px;
    width: 896.66px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
}
.contentCart_sp{
    height: 242.6px;
    width: 896.66px;
}
.cart__freeship {
    display: flex;
    align-items: center;
    margin: 0;
}
.cart__freeship span {
    font-size: 14px;
    margin-left: 9px;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: #333333;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.cart__table {
    width:896.66px ;
    height: 132px;
    display: table;
    width: 100%;
    margin-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
 .cart__table--item {
    width:896.66px ;
    height: 131px;
    display: table-row;
    position: relative;
} 
table tr td input:focus, table tr td button:focus,
.form-control{
    outline: none;
    box-shadow: none;
}
 .qty{
    padding-left: 0px !important;
} 
.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}
.table tr,
.table tr td{
    vertical-align: middle;
}
.button-container{
    display: flex;
    align-items: center;
}
.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
 
/* .cart-qty-plus,
.cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
} */
.cart__table--item > div:nth-child(1) {
    border-left: 0;
    border-top: 1px solid #ededed;
    padding: 10px 0;
    vertical-align: top;
}
.cart__table--item .item__image {
    width: 110px;
    height: 131px;
}
.cart__table--item > div {
    border: 0;
    padding: 6px 10px;
    display: table-cell;
    border-top: 1px solid #ededed;
    padding: 10px 0;
    vertical-align: top;
    padding-left: 15px;
} 
.item__image > img {
    vertical-align: middle;
    margin-right: 0;
    max-width: 100%;
    display: inline-block;
}
.cart__table--item .item__info {
    position: relative;
}
.cart__table--item > div {
    border: 0;
    padding: 6px 10px;
    display: table-cell;
    border-top: 1px solid #ededed;
    padding: 10px 0;
    vertical-align: top;
    padding-left: 15px;
}
.cart__table--item .item__title {
    font-size: 16px;
    margin: 0 0 5px;
} 
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: #333333;
}
b, strong {
    font-weight: bolder;
}
 .cart__table--item .item__title--variant {
    font-size: 13px;
}
.cart__table--item .item__price {
    width: auto;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.cart__table--item .item__quantity {
    width: 75px;
    height: 23px;
    width: auto;
    text-align: center;
    margin: 0;
    float: left;
    margin-top: 10px;
}
.text-md-center {
    text-align: center!important;
}
.item__quantity .cart-qty {
    width: 75px;
    height: 23px;
    display: flex;
}
.cart-quantity {
    border: 1px solid ;
    outline-color: black !important;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
/* .item__quantity .cart-qty .btn_quantity {
    height: 23px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #dfdfdf;
    background: #fff;
    cursor: pointer;
    color: #333;
    width: 30px;
    text-align: center;
    font-size: 14px;
    margin-right: -1px;
}
.btn_minus{
    border-radius: 4px 0 0 4px !important;
    width: 50px !important;
} */
.item__quantity .cart-qty .quantity {
    width: 38px;
    border: 1px solid #dfdfdf;
    padding: 0px 5px;
    font-size: 14px;
    color: #757575;
    border-radius: 0;
    text-align: center;
} 
.form-control, input {
    transition: all 0.3s ease-in-out;
    outline: none !important;
    box-shadow: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
 .cart__table--item .item__lineprice {
    width: 100px;
    text-align: center;
    margin: 0;
    float: right;
    font-size: 16px;
    padding-right: 0;
    font-weight: 700;
} 
 .cart__table--item .item__lineprice .price {
    font-size: 16px;
}
.cart__table--item .item__title-delete {
    position: absolute;
    right: 0;
    padding: 10px 0;
    top: 0;
    margin: 0;
} 
.goiy{
    height: 240px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;

}
.goiy_ct{
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.cart-gift {
    margin-top: 10px;
}
.cart-gift > h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    color: #129fd8;
}
.cart-gift h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    position: relative;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 Starbap;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-caret-up::before {
    content: "\f0d8";
}
.cart__gift--des {
    color: #000;
    font-weight: normal;
    font-style: italic;
}
.cart-gift .gift-list {
    display: flex;
    flex-wrap: wrap;
}
.gift-list .product__item {
    width: 50%;
    max-width: 350px;
    min-height: inherit;
}
.product__item {
    padding: 0.35714em;
    margin-bottom: 15px;
    background: #fff;
}
.product__item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gift-list .product__item-wrap {
    display: flex;
}
.gift-list .product__item--image {
    width: 40%;
    padding-bottom: 40%;
}
.product__item--image {
    position: relative;
    padding-bottom: 100%;
}
.product__item--image a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.gift-list .product__item--info {
    width: 60%;
    padding-left: 15px;
}
.gift-list .product__item--info {
    width: 60%;
    padding-left: 30px;
}
.product__item--info {
    padding-top: 0.71429em;
}
.cart-gift h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    position: relative;
    cursor: pointer;
}
.product__item--title {
    overflow: hidden;
    min-height: 2.14286em;
    font-size: 14px;
    white-space: break-spaces;
    font-weight: normal;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.product__item--title a {
    display: block;
    min-height: 2.14286em;
}
.product__item--price {
    position: relative;
}
.product__item--price--normal {
    color: #129fd8;
    font-size: 1.28571em;
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    white-space: break-spaces;
}
.product__item--variant {
    font-weight: normal;
    color: #7A7A7A;
    font-size: 0.56em;
}
.product__item--price del {
    display: block;
    font-size: 1em;
    font-weight: 300;
    color: #606060;
    min-height: 18px;
}
.product__item--sale {
    color: #ffffff;
    background: #F23611;
    padding: 0.4em 0.8em;
    font-size: 0.64286em;
    position: absolute;
    right: 0;
    bottom: 0;
}
.product__item--action {
    margin-top: 5px;
}
.product__item--action button {
    background: #ff6600;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 0.57143em 0.71429em;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    cursor: pointer;
}
.tag_icon {
    position: absolute;
    top: 0;
    right: -0.57143em;
    z-index: 10;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.sidebarCart-sticky {
    height: 510px;
    position: sticky;
    top: 70px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 100%;
   
}
.sidebox-order {
    background: #fff;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #e1e3e4;
    border-radius: 2px;
    margin-left: 5px;
}
.sidebox-order div[class^="sidebox-order_"] {
    margin-bottom: 10px;
}
.time_order_wrap .note_timeout {
    margin-top: 15px;
    color: red;
    font-weight: 700;
    margin-bottom: 10px;
}
.time_order_wrap h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 0;
}
.time_order_wrap .wrap_time {
    display: flex;
}
.cart .time_order_wrap .wrap_time .time_col {
    width: 50%;
}
.time_order_wrap .wrap_time .data_order {
    background-color: #0098D1;
    border: none;
    font-weight: bold;
    width: 100%;
    color: #fff;
}
.time_order_wrap .wrap_time select {
    padding: 7px;
    background: #0098D1;
    border: none;
    width: 100%;
    font-weight: bold;
    padding-right: 30px;
    background: url(//theme.hstatic.net/1000030244/1000943806/14/arrow_select.png?v=5021) no-repeat #0098D1;
    background-position: 95% center;
    color: #fff;
    outline: 0;
}
.time_order_wrap .wrap_time .time_col:last-child {
    margin-left: 15px;
}
.sidebox-order div[class^="sidebox-order_"] {
    margin-bottom: 10px;
}
.sidebox-order_title h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.sidebox-order_note {
    font-size: 16px;
    color: #5c5c5c;
    font-weight: 600;
}
.sidebox-order_note textarea {
    border-radius: 5px;
    resize: none;
    background: #ededed;
    color: #252a2b;
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100% !important;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 150ms linear;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
textarea.form-control {
    height: auto;
}
.sidebox-order_total {
    font-size: 16px;
    color: #5c5c5c;
    font-weight: 600;
    padding: 10px 0;
    border-top: 1px dotted #dfe0e1;
    border-bottom: 1px dotted #dfe0e1;
}
.sidebox-order_total p {
    margin: 0;
}
.sidebox-order_total p .totalsum-price {
    float: right;
    color: red;
    font-size: 22px;
}
.sidebox-order div[class^="sidebox-order_"]:last-child {
    margin-bottom: 0px;
}
.cart__btn-checkout {
    padding: 12px 20px;
    background: #ff7200;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 0;
    width: 100%;
    cursor: pointer;;
}
.link-continue {
    margin: 10px 0 0;
    text-align: center;
}
.link-continue a {
    color: #2e9ed5;
}
.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
}

/* Sản phẩm giá tốt */
.product_show{
    margin-bottom: 60px;
    width: 1474px;
    height:470px ;
    padding-top: 10px;

}
.contain_prd-show{
    max-width: 1345px !important;
    width: 1345px !important;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-right: auto;
    margin-left: auto;

}
.row_prd{
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.cnt_prd{
    height: 400px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.home__cart--title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
}
.cards{
    display: flex;
    padding-left: 30px;
}
.card{
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    width: 20%;
    margin-left: 15px;
    object-fit: cover;
    /* box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 20px; */
    height:450px;
    
}

/* footer */
#footer_bottom{
    height: 252px;
    background-color: #e3e3e3;
}
#ft_img{
    width:415px ;
    height: 252px;
    float: left;
    padding-left: 80px;
    padding-top: 80px;
}
#ft_tt{
    width: 673px;
    height: 252px;
    float: left;
}
#ft_end{
    width: 415px;
    height: 252px;
    float: left;
    padding: 80px 0px 0px 60px;
}